<nav class="navbar navbar-expand-md navbar-light blue lighten-2">
  <a class="navbar-brand" href="/">暨南資管卡啦OK</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Nav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="Nav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/admin/">管理界面</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/apply/">報名</a>
      </li>
    </ul>
  </div>
</nav>